:root {
    --variable-collection-BUTTON: rgba(69, 125, 151, 1);
    --variable-collection-erudia-blue: rgba(69, 125, 151, 1);
    --variable-collection-HEADER: rgba(204, 178, 76, 1);
    --variable-collection-SELECTION: rgba(247, 214, 131, 0.5);
    --variable-collection-siged-modo-oscuro: rgba(218, 179, 55, 1);
    --variable-collection-SIGER-HOOVER: rgba(187, 143, 5, 1);
    --variable-collection-spotify: rgba(0, 178, 92, 1);
}
