.image {
    height: 398px;
    width: 361px;
}

.image .img {
    height: 398px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 361px;
}

.frame {
    background-color: #ffffff;
    height: 329px;
    position: relative;
    width: 501px;
}

.frame .div {
    border: 2px solid;
    border-color: #4b4b4b;
    border-radius: 7px;
    height: 30px;
    left: 0;
    position: absolute;
    top: 275px;
    width: 30px;
}

.frame .text-wrapper {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    white-space: nowrap;
}

.frame .usuario-login {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #ffc100;
    border-radius: 10px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 112px;
    width: 501px;
}

.frame .text-wrapper-2 {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 182px;
    white-space: nowrap;
}

.frame .text-wrapper-3 {
    color: #4b4b4b;
    font-family: "Montserrat-SemiBold", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    white-space: nowrap;
}

.frame .text-wrapper-4 {
    color: #4b4b4b;
    font-family: "Montserrat-SemiBold", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    left: 336px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    white-space: nowrap;
}

.frame .pass-login {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #ffc100;
    border-radius: 10px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 214px;
    width: 501px;
}
